@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-zinc-900;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.97)),
    url("/pizza-background.jpg");
  background-size: cover;
  /* or: contain | 150% 150% | 1200px auto */
  background-position: center;
  background-repeat: repeat;
}

.card {
  @apply bg-panel rounded-2xl border border-zinc-100 shadow-sm shadow-black/30;
}

.card-pad {
  @apply p-6 md:p-8;
}

.btn {
  @apply inline-flex items-center justify-center rounded-xl border border-zinc-200 px-4 py-3
   text-sm font-medium hover:bg-zinc-50 active:scale-[0.99] transition;
}

.btn-lg {
  @apply inline-flex items-center justify-center gap-2 rounded-xl border border-zinc-200 px-9 
  py-4 text-base font-medium hover:bg-zinc-50 active:scale-[0.99] transition shadow-sm shadow-black/30;
}

.input {
  @apply rounded-xl border border-zinc-300 px-3 py-2 focus:outline-none focus:ring-4 focus:ring-zinc-200;
}

.label {
  @apply block text-sm font-medium text-zinc-700;
}